{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Titre' | trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{'Numero' | trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{'Synopsis' | trans }}</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    {% for comment in episode.comments %}
        <tr>
            <td>{{'Commentaire :' | trans }} {{ comment.comment }}</td></br>
            <td>{{'Note :' | trans }}{{ comment.rate }}/10</td></br>
            <td>{{'Auteur :' | trans }} {{ comment.author.email }}</td></br>
            {% if app.user %}
                <a href="{{ path('comment_show', {'id': comment.id}) }}">{{'Voir' | trans }}</a>
                <a href="{{ path('comment_edit', {'id': comment.id}) }}">{{'Modifier' | trans}}</a>
            {% endif %}
            </td>
        </tr>
        </br>
    {% endfor %}




    <div>
    {% if app.user %}
     <h4>{{'Ajouter un commentaire' | trans }}</h4>
     {{ include('comment/_form.html.twig')}}
    {% endif %}
    </div>
    </br>
    <a href="{{ path('episode_index') }}">{{'Retour' | trans }}}}</a>
    </br>
    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{'Modifier' | trans}}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}