{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <h1>Séries</h1>
    <div class="container-card">
        {% for program in programs %}
            <div class="card">
                <img style="height: 50vh;width : 100%;" src="{{ program.poster }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5> <a href="{{ path('program_show', {'slug': program.slug}) }}" class="btn btn-primary">Voir plus</a>
                   
                    <a href="{{ path('program_edit', {'slug': program.slug}) }}" class="btn btn-primary">Editer</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <a href="{{ path('program_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}