{% extends 'base.html.twig' %}

{% block title %}{{'Nouvelle Série' | trans}}{% endblock %}

{% block body %}
    <h1>{{'Crée une nouvelle série new' | trans }}</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">{{'Retour'| trans}}</a>
{% endblock %}